# Backend
backend/target
backend/data
frontend/node_modules
frontend/dist
backend/nginx/certs
backend/nginx/certbot
backend/.qdrant-initialized
backend/.env

# MCP
mcp/node_modules
mcp/dist
mcp/.env

# General
.DS_Store
